<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PicShare Administrator</title>
	<link rel="icon" href="images/Icons/favicon.png" type="image/x-icon">
	<!-- The Fonts -->
	<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="stylesheets/css/style.css" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- JavaScript -->

	<script type="text/javascript" src="javascripts/delete.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

	<script>
        var currEvent;

		$(document).keydown(function(event){
		    if(event.keyCode == 13){
		        searchByEvent();
		    }
		});

		function showAllEvents(elem) {
            var loadingMsg = "<p align='center'>Loading. Please wait</p>";
            document.getElementById("eventList").innerHTML = loadingMsg;
            document.getElementById("searchTerm").value = "";
			$.ajax({
				url: "/event/getAllEvents",
				success: function (data) {
					var data_event = {"events":[]};
					for(var i = 0; i < data.length; ++i) {
						data_event.events.push({
							"hashtag": data[i].hashtag
						});
					}
					$.get("/templates/eventTmpl.html", function (template) {
						var tmpl_event = template;
						var html_event = Mustache.to_html(tmpl_event, data_event);
						var eventList = document.getElementById("eventList");
						if(data_event.events.length == 0) eventList.innerHTML = "<p align='center'>No event is found</p>";
						else eventList.innerHTML = html_event;
                        topPos = checkPos();
					});

					var data_photo = {"photos":[]};
					$.get("/templates/photoTmpl.html", function (template) {
						var tmpl_photo = template;
						var html_photo = Mustache.to_html(tmpl_photo, data_photo);
						var photoList = document.getElementById("photoList");
						photoList.innerHTML = html_photo;
					});
			  	},
                error: function(data) {
                    document.getElementById("eventList").innerHTML = "<p align='center'>No Internet Connection</p>";
                }
			});
			$(elem).attr("onclick", "collapse(this)");
		}

		function collapse(elem) {
			$("#eventList").html("");
			$(elem).attr("onclick", "showAllEvents(this)");
		}

		function searchByEvent() {
			searchTerm = document.getElementById("searchTerm").value;
			if(searchTerm == ""){
				return;
			}
            var loadingMsg = "<p align='center'>Loading. Please wait</p>";
            document.getElementById("eventList").innerHTML = loadingMsg;
			$.ajax({
				url: "/event/searchByEvent",
				data: {search: searchTerm},
				success: function(data) {
					var data_event = {"events":[]};
					for(var i = 0; i < data.length; ++i) {
						data_event.events.push({
							"hashtag": data[i].hashtag
						});
					}
					$.get("/templates/eventTmpl.html", function (template) {
						var tmpl_event = template;
						var html_event = Mustache.to_html(tmpl_event, data_event);
						var eventList = document.getElementById("eventList");
                        if(data_event.events.length == 0) eventList.innerHTML = "<p align='center'>No event is found</p>";
						else eventList.innerHTML = html_event;
                        topPos = checkPos();
					});

					var data_photo = {"photos":[]};
					$.get("/templates/photoTmpl.html", function (template) {
						var tmpl_photo = template;
						var html_photo = Mustache.to_html(tmpl_photo, data_photo);
						var photoList = document.getElementById("photoList");
						photoList.innerHTML = html_photo;
					});
			  	},
                error: function(data) {
                    document.getElementById("eventList").innerHTML = "<p align='center'>No Internet Connection</p>";
                }
			});
		}

		function getPhotos(hashtag) {
            currEvent = hashtag;
			$.ajax({
				url: "/event/fetchEventPhotos",
				data: {event: hashtag},
				success: function(data) {
					var data_event = {"events":[]};
					data_event.events.push({
						"hashtag": hashtag
					});
					$.get("/templates/eventTmpl.html", function (template) {
						var tmpl_event = template;
						var html_event = Mustache.to_html(tmpl_event, data_event);
						var eventList = document.getElementById("eventList");
						eventList.innerHTML = html_event;
                        topPos = checkPos();
					});

					var data_photo = {"photos":[]};
					for(var i = 0; i < data.length; ++i) {
						data_photo.photos.push({
							"photoID":      data[i].objectID,
							"description":  data[i].description,
							"image":        data[i].image,
							"username":     data[i].username,
							"hashtag":      data[i].hashtag,
							"uploadDate":   data[i].created
						});
					}
					$.get("/templates/photoTmpl.html", function (template) {
						var tmpl_photo = template;
						var html_photo = Mustache.to_html(tmpl_photo, data_photo);
						var photoList = document.getElementById("photoList");
						if(data_photo.photos.length == 0) photoList.innerHTML = "<p align='center'>No photo is found</p>";
						else photoList.innerHTML = html_photo;
					});
			  	},
                error: function(data) {
                    document.getElementById("photoList").innerHTML = "<p align='center'>No Internet Connection</p>";
                }
			});

		}
	</script>
</head>

<body onscroll="detectScroll()">
	<div class="top_panel">
		<div class="wrapper">
			<a href="/edit">
				<div class="user">
					<img src="images/Icons/user_avatar.png" alt="user_avatar" class="user_avatar" />
					<span class="label" id="username">{{username}}</span>
				</div>
			</a>
			<div class="top_links">
				<ul>
					<li>
						<a title="Logout" style="cursor:pointer" onclick = "logout()">
							<span class="label">Logout</span>
						</a>
						<!-- Drop Menu -->
						<ul class="drop_menu menu_with_icons right_direction" id = "logoutButton">
							<li>
								<a class="i_16_checked" style="cursor:pointer" href="/logout">
									<span class="label">Logout</span>
								</a>
							</li>
							<li>
								<a class="i_16_close" style="cursor:pointer" onclick = "logout()">
									<span class="label">Cancel</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<header class="main_header">
		<div class="wrapper">
			<div class="logo">
				<a title="PicShare">
					<img src="images/Icons/PicShare_logo.png" alt="PicShare_logo" style="width:30%;height:15%;"/>
				</a>
			</div>
		</div>
	</header>

	<div class="wrapper contents_wrapper">

		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="i_32_ui">
					<a href="/user" title="Photos by user">
						<span class="tab_label">USER</span>
						<span class="tab_info">Photos by user</span>
					</a>
				</li>
				<li class="active_tab i_32_dashboard">
					<a href="" title="Photos by event">
						<span class="tab_label">EVENT</span>
						<span class="tab_info">Photos by event</span>
					</a>
				</li>
			</ul>
		</aside>

		<div class="contents">
			<div class="grid_wrapper">
				<div class="g_6 contents_header">
					<h3 class="i_16_dashboard tab_label">Photos by event</h3>
					<div><span class="label">Delete photos by event</span></div>
				</div>
				<div class="g_6 contents_options">
					<div class="simple_buttons" onclick = "showAllEvents(this)">
						<div>Show All</div>
					</div>
					<div class="simple_buttons" onclick = "searchByEvent()">
						<img src="images/Icons/22/i_22_search.png"/>
					</div>
					<input type="text" class="simple_input" id="searchTerm"/>
				</div>
				<div class="g_12">
					<div class="widget_header" style="cursor:pointer" onclick = "showAllEvents(this)">
						<h4 class="widget_header_title wwIcon i_16_tabs">List of Events</h4>
					</div>
					<div class="widget_contents noPadding" id="eventList">
						<!--  event list here  -->
					</div>
				</div>
				<div class="g_12" id="listHeaderBar">
					<div class="widget_header" id="listHeaderBarInner">
						<h4 class="widget_header_title wwIcon i_16_tables">Photos in the Event</h4>
                        <div class="deleteGroup">
                            <div class="changePattern" id = "deleteBlock">
		                        <button class="delete" onclick = "deleteConfirm()">Delete</button>
		                        <button class="cancel" onclick = "cancel()">Cancel</button>
	                        </div>
                            <div class="confirmPattern" id = "confirmBlock">
								<p style="margin-left: 25px">Do you want to delete?</p>
								<button class = "confirmYes" onclick = "picDelete()">Yes</button>
								<button class = "confirmNo" onclick = "notDelete()">No</button>
	                        </div>
                       </div>
					</div>
					<div class="widget_contents noPadding">
						<div class="main-container">
							<div class="portfolio-content">
								<div class="portfolio-page" id="photoList">
									<!--  photo list here  -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<span class="copyright">
				&copy; Copyright CSCI577 team01 All rights reserved.
			</span>
		</div>
	</footer>
</body>
</html>
