<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>PicShare Administrator</title>
	<link rel="icon" href="images/Icons/favicon.png" type="image/x-icon">
	<!-- The Fonts -->
	<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet" />
	<!-- The Main CSS File -->
	<link rel="stylesheet" href="stylesheets/css/style.css" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<!-- JavaScript -->

	<script type="text/javascript" src="javascripts/delete.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js"></script>

	<script>
		function showAllUsers() {
			$.ajax({
				url: "/user/getAllUsers",
				success: function (data) {
					var data_user = {"users":[]};
					for(var i = 0; i < data.length; ++i) {
						data_user.users.push({
							"username": data[i].username
						});
					}
					$.get("/templates/userTmpl.html", function (template) {
						var tmpl_user = template;
						var html_user = Mustache.to_html(tmpl_user, data_user);
						var userList = document.getElementById("userList");
						userList.innerHTML = html_user;
					});

					var data_photo = {"photos":[]};
					$.get("/templates/photoTmpl.html", function (template) {
						var tmpl_photo = template;
						var html_photo = Mustache.to_html(tmpl_photo, data_photo);
						var photoList = document.getElementById("photoList");
						photoList.innerHTML = html_photo;
					});
			  	}
			});
		}

		function searchByUser() {
			searchTerm = document.getElementById("searchTerm").value;
			if(searchTerm == ""){
				return;
			}
			$.ajax({
				url: "/user/searchByUser",
				data: {search: searchTerm},
				success: function(data) {
					var data_user = {"users":[]};
					for(var i = 0; i < data.length; ++i) {
						data_user.users.push({
							"username": data[i].username
						});
					}
					$.get("/templates/userTmpl.html", function (template) {
						var tmpl_user = template;
						var html_user = Mustache.to_html(tmpl_user, data_user);
						var userList = document.getElementById("userList");
						userList.innerHTML = html_user;
					});

					var data_photo = {"photos":[]};
					$.get("/templates/photoTmpl.html", function (template) {
						var tmpl_photo = template;
						var html_photo = Mustache.to_html(tmpl_photo, data_photo);
						var photoList = document.getElementById("photoList");
						photoList.innerHTML = html_photo;
					});
			  	}
			});
		}

		function getPhotos(username) {
			$.ajax({
				url: "/user/fetchUserPhotos",
				data: {user: username},
				success: function(data) {
					var data_photo = {"photos":[]};
					for(var i = 0; i < data.length; ++i) {
						data_photo.photos.push({
							"photoID":      data[i].objectID,
							"description":  data[i].description,
							"image":        data[i].image,
							"username":     data[i].username,
							"hashtag":      data[i].hashtag,
							"uploadDate":   data[i].created
						});
					}
					$.get("/templates/photoTmpl.html", function (template) {
						var tmpl_photo = template;
						var html_photo = Mustache.to_html(tmpl_photo, data_photo);
						var photoList = document.getElementById("photoList");
						photoList.innerHTML = html_photo;
					});

					var data_user = {"users":[]};
					data_user.users.push({
						"username": username
					});
					$.get("/templates/userTmpl.html", function (template) {
						var tmpl_user = template;
						var html_user = Mustache.to_html(tmpl_user, data_user);
						var userList = document.getElementById("userList");
						userList.innerHTML = html_user;
					});
			  	}
			});
		}
	</script>
</head>

<body>
	<div class="confirmPattern" id = "confirmBlock">
		<p style="margin-left: 25px">Do you want to delete?</p>
		<span class = "confirmYes" onclick = "picDelete()"><a style="color: red">Yes</a></span>
		<span class = "confirmNo" onclick = "notDelete()"><a style="color: #33CC33">No</a></span>
	</div>
	<div class="changePattern">
		<span class="delete" onclick = "deleteConfirm()"><a style="color: white">Delete</a></span>
		<span class="cancel" onclick = "cancel()"><a style="color: white">Cancel</a></span>
	</div>
	
	<div class="top_panel">
		<div class="wrapper">
			<div class="user">
				<img src="images/Icons/user_avatar.png" alt="user_avatar" class="user_avatar" />
				<span class="label" id="username">{{username}}</span>
			</div>
			<div class="top_links">
				<ul>
					<li>
						<a href="/logout" title="Logout">
							<span class="label">Logout</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<header class="main_header">
		<div class="wrapper">
			<div class="logo">
				<a title="PicShare">
					<img src="images/Icons/PicShare_logo.png" alt="PicShare_logo" style="width:30%;height:15%;"/>
				</a>
			</div>
		</div>
	</header>

	<div class="wrapper contents_wrapper">
		
		<aside class="sidebar">
			<ul class="tab_nav">
				<li class="active_tab i_32_ui">
					<a href="" title="Photos by user">
						<span class="tab_label">USER</span>
						<span class="tab_info">Photos by user</span>
					</a>
				</li>
				<li class="i_32_dashboard">
					<a href="/event" title="Photos by event">
						<span class="tab_label">EVENT</span>
						<span class="tab_info">Photos by event</span>
					</a>
				</li>
			</ul>
		</aside>

		<div class="contents">
			<div class="grid_wrapper">
				<div class="g_6 contents_header">
					<h3 class="i_16_ui tab_label">Photos by user</h3>
					<div><span class="label">Delete photos by user</span></div>
				</div>
				<div class="g_6 contents_options">
					<div class="simple_buttons" onclick = "showAllUsers()">
						<div>Show All</div>
					</div>
					<div class="simple_buttons" onclick = "searchByUser()">
						<img src="images/Icons/22/i_22_search.png"/>
					</div>
					<input type="text" class="simple_input" id="searchTerm"/>
				</div>
				<div class="g_12">
					<div class="widget_header">
						<h4 class="widget_header_title wwIcon i_16_tabs">List of Users</h4>
					</div>
					<div class="widget_contents noPadding" id="userList">
						<!--  user list here  -->
					</div>
				</div>
				<div class="g_12">
					<div class="widget_header">
						<h4 class="widget_header_title wwIcon i_16_tables">Photos of the User</h4>
					</div>
					<div class="widget_contents noPadding">
						<div class="main-container">
							<div class="portfolio-content">
								<div class="portfolio-page" id="photoList">
									<!--  photo list here  -->	
								</div> 
							</div>
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
	<footer>
		<div class="wrapper">
			<span class="copyright">
				&copy; Copyright CSCI577 team01 All rights reserved.
			</span>
		</div>
	</footer>

</body>
</html>